* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;


}

html {

    scroll-snap-type: mandatory;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.pagina {
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: none;
    padding: 7px 80px;
    opacity: 0.7;
    max-width: 100%;
}

p {
    font-weight: 400px;
    font-size: 14px;
    line-height: 29px;
    margin: 0 200px;
    color: #FFFFF0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

h3 {
    font-size: 2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

ul,
ol {
    font-weight: 400px;
    justify-content: center;
    font-size: 25px;
    color: white;
    padding: 0;
    margin: 0 20px;
    list-style: none;
}

.contratar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: brightness(80%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orçamento {
    font-size: 15px;
    height: 50px;
    width: 150px;
    background-color: greenyellow;
    color: black;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    filter: brightness(70%);
}


.bg-armario {
    background-image: url('./img/armario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
}

.bg-hack {
    background-image: url('./img/hack.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-mesa {
    background-image: url('./img/mesa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 600px) {
    body {
        background-color: lightblue;
    }
}


@media (max-width: 599px) {
    body {
        background-color: lightcoral;
    }
}